@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}

@section css{
    @Styles.Render("~/Content/UserApplications")
}

@section nav{
    @Html.Partial("Nav")
}

<div id="main">
    <span class="alert" id="message"></span>
    @RenderBody()
</div>

@section scripts{
    @Scripts.Render("~/bundles/UserApplications")
    @RenderSection("scripts", required: false)
    <script src='@Url.Action("Urls", "Home")'></script>
}

