@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}

@section css{
    @Styles.Render("~/Content/admin")
}

@section nav{
    @Html.Partial("Nav")
}

<section>
    <span class="pull-right alert" id="message"></span>
    @RenderBody()
</section>

@section scripts{
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
    <script src='@Url.Action("Urls", "Home")'></script>
}