@{
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}

@section css{
    @Styles.Render("~/Content/admin")
}

@section nav{
    @Html.Partial("Nav")
}

<section class="span9 offset1">
    <span class="pull-right alert" id="message"></span>
   @* <div class="modal hide fade" id="prompt">
        <div class="modal-header">
            <h3></h3>
        </div>
        <div class="modal-footer">
            <button class="btn cancel">Cancel</button>
            <button class="btn btn-primary save">Confirm</button>
        </div>
    </div>*@
    @RenderBody()
</section>

@section scripts{
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
    <script src='@Url.Action("Urls", "Home")'></script>
}