@helper SetActiveClass(string controller)
{
    if (controller.Equals(ViewContext.RequestContext.RouteData.Values["controller"]))
    {
        @: class='active'
    }
}

<li @SetActiveClass("Global")>@Html.ActionLink("Global", "Index", "Home")</li>
<li @SetActiveClass("Application")>@Html.ActionLink("Applications", "Index", "Application")</li>
<li @SetActiveClass("Client")>@Html.ActionLink("Clients", "Index", "Client")</li>
<li @SetActiveClass("Key")>@Html.ActionLink("Keys", "Index", "Key")</li>
<li @SetActiveClass("Token")>@Html.ActionLink("Tokens", "Index", "Token")</li>
