<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mswebdialog-title" content="Authorization Server"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @if (Request.UserAgent.Contains("MSAuthHost"))
    {
        @Styles.Render("~/Content/responsive")
    }
    @RenderSection("css", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container @ViewBag.PageClass" id="container-top">
        @Html.Action("Banner", "Home", new { area="" })
        @RenderBody()
        @Html.Action("Footer", "Home", new { area="" })
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
